<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9181223334-05c5kc1kjq3se01h6e80ltoesebahjqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9181223334-05c5kc1kjq3se01h6e80ltoesebahjqd</string>
	<key>API_KEY</key>
	<string>AIzaSyAb8vOfOZ3ABgCLGL__1sWRTRiYyaa7BPA</string>
	<key>GCM_SENDER_ID</key>
	<string>9181223334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.comnity</string>
	<key>PROJECT_ID</key>
	<string>comnity-social</string>
	<key>STORAGE_BUCKET</key>
	<string>comnity-social.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9181223334:ios:9b3490d19ee601ee5a1767</string>
</dict>
</plist>